@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PersonalWebsite_MVC.Models;

@model List<Blogs>

<section id="about" class="about section-space-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Blog</h2>
                    <div class="divider dark">
                        <i class="icon-emotsmile"></i>
                    </div>
                    <p>Blog Sayfamız</p>
                </div>
            </div>
        </div>
  
             
        <div class="about-me-text">
            @{
                PERSONALEntities db = new PERSONALEntities();
                List<Users> kullanicilar = db.Users.ToList();
                List<Categories> kategori = db.Categories.ToList();
                List<Blogs> blog=db.Blogs.ToList();
                List<Images> image = db.Images.ToList();
                List<Comments> yorum = db.Comments.ToList();
                string deger=image.FirstOrDefault(x => x.ImageId==2).ImageURL;

                deger=deger.Replace("\\","/");

            }
            <div class="row">
                <div class="col-md-7">
                    @foreach (Blogs blogumuz in Model)
                    {
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8" >
                                <div style="text-align:center"><img src="../Content/admin/uploadimage/s4.jpg" /></div>
                                <div style="text-align:center">Başlık:<b>@blogumuz.Title</b></div>
                                @{
                        int uzunluk = blogumuz.Description.Length;
                        if (uzunluk > 100)
                        {
                            string yeniaciklama = blogumuz.Description.Substring(0, 50);
                            <div style="text-align:center">@yeniaciklama<br/><a href="/BlogDetay/BlogDetayBul/@blogumuz.BlogId">Devamını Oku</a></div>
                        }
                        else
                        {
                            <div style="text-align:center">@blogumuz.Description</div>
                            <div style="text-align:center"><a href="/BlogDetay/BlogDetayBul/@blogumuz.BlogId">Devamını Oku /</a><a href="/BlogDetay/BlogDetayBul/@blogumuz.BlogId"> Yorum Yap(@db.Comments.Where(x=>x.BlogId==blogumuz.BlogId).Count())</a></div>
                                    }
                                }
                               


                                <div class="row">
                                    <div class="col-md-8"><b style="color:blue">Tarih:</b>:@blogumuz.RegisterDate.Value.ToShortDateString()</div>
                                   
                                    <div class="col-md-4">
                                        <div><b>Yazar: </b>@kullanicilar.FirstOrDefault(x => x.UserId == blogumuz.UserId).Username <b> Kategori: </b>@kategori.FirstOrDefault(x => x.CategoryId == blogumuz.CategoryId).CategoryName</div>
                                       
                                    </div>
                                    <div class="col-md-2"></div>

                                </div>
                            </div>
                        </div>
                    }
                    
                    
                </div>
                <div class="col-md-5">
                    <div class="about-me-text" style="text-align:center;float:right">
                        <h4>KATEGORİLER</h4>
                        <ul style="float:left;list-style:none">
                            @{ 
                                int i = 0;
                            }
                            @foreach (Categories item in kategori)
                            {
                                i++;

                                <li>@i-@item.CategoryName<a href="/Blog/KategoriyeGoreListele/@item.CategoryId">(@blog.Where(x => x.CategoryId == item.CategoryId).Count())</a></li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
        </div>   
    </div>
</section>









     
